*{
    margin: 0;
    padding: 0;
}
.table{
    overflow-x: hidden;
}
.container{
    margin: 20px 20px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product{
    display: flex;
    

}
.subproductText{
    margin-left: 20px;
}
.quantity{
    border-radius: 5px;
    padding: 8px;
    border:1px solid black;
    display: flex;
    align-items: center;
    width:105px;
    justify-content: space-between;
    background: none;
}
.delete{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.delete_item{
    display: none;
}
.icon{
    font-size: 100px;
}
.homeImage{
        /* width: 30%; */
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 10px;
}
.homeImage::before {
    content: "";
    
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(19, 19, 19, 0.2);
    border-radius: 10px;
}
.image_homeImage {
    
    /* width: 100%; */
    border-radius: 10px;
    object-fit: contain;
}
.dataisEmpty{
    margin: 150px auto;

    
}
.checkout{
    width:30%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    /* align-items: flex-end; */
    
    /* margin: 20px 20px; */
   
    
}
.btn{
    width: 100%;
}

@media screen and (max-width:1200px) {
    
    .quant{
        display: none;
    }
           
            .delete{
               display: none;
            }
    .subproductText {
         margin-left: 10px;
         width:100px;
         
    }
        /* .homeImage{

            width:40%;
        }
        .image_homeImage{
            width:100%;
        } */
        .delete_item{
            display: flex;
                /* justify-content: center; */
                align-items: center;
        }
        .delete_item_quant{
            display: none;
        }
        
       

    


}