*{
    margin: 0;
    padding: 0;
}
.table{
    overflow-x: hidden;
}
.container{
    margin: 20px 20px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product{
    display: flex;


}
.subproductText{
    margin-left: 20px;
}
.quantity{
    border-radius: 5px;
    padding: 8px;
    border:1px solid black;
    display: flex;
    align-items: center;
    width:105px;
    justify-content: space-between;
    background: none;
}
.delete{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.icon{
    font-size: 100px;
}
.homeImage{
    /* height: 350px; */
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: 10px;
}
.homeImage::before {
    content: "";
    /* height: 350px; */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(19, 19, 19, 0.2);
    border-radius: 10px;
}
.image_homeImage {
    /* height: 100%; */
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.dataisEmpty{
    margin: 150px auto;
    
}
@media screen and (max-width:1200px) {
    
    .quant{
        visibility: hidden;
    }
            .quantity{
            
            margin-top: 20px;
            width: 100px;
            margin-left: -175px;
            
            }
    .subproductText {
         margin-left: 10px;
    }
       

    


}